.star {
  @keyframes sglow {
    100% {
      filter: drop-shadow(
        0px 0px 55px #be185d
      ) drop-shadow(
        0px 0px 55px #b91c1c
      ) drop-shadow(
        0 0 40px #b91c1c
      );
    }
  
    0% {
      filter: drop-shadow(
        0px 0px 40px #db2777
      ) drop-shadow(
        0px 0px 40px #881337
      ) drop-shadow(
        0 0 20px #831843
      );
    }
  }
  animation: sglow 1s infinite alternate ease-in-out;
  transform-origin: center;
  overflow: visible;
}

.text {
  @keyframes tglow {
    100% {
      filter: drop-shadow(
        0 0 5px #be185d
      ) drop-shadow(
        0px 0px 10px #b91c1c
      ) drop-shadow(
        0px 0px 10px #b91c1c
      );
    }
    0% {
      filter: drop-shadow(
        0px 0px 20px #db2777
      ) drop-shadow(
        0px 0px 20px #881337
      ) drop-shadow(
        0 0 15px #831843
      );
    }
  }
  animation: tglow 1s infinite ease-in-out alternate;
  transform-origin: center;
  overflow:visible;
}

.container {
  @keyframes sway {
    0% {
      transform: rotate(-2.5deg) scale(1.15);
    }
    100% {
      transform: rotate(3.5deg) scale(1);
    }
  }
  animation: sway 1s infinite alternate ease-in-out;
  transform-origin: center;
  transition: all 2s ease-in-out;
  overflow: visible;
}